:root {
    --background-color: black;
    --text-color: white;
    --entry-path-color: white;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    font-size: large;
}

div.controls {
    display: inline-grid;
    grid-template-columns: repeat(10, max-content);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    align-items: center;
    justify-items: end;
}

#update-available {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #333;
    opacity: .9;
    z-index: 1000;
}

#update-available p {
    margin: 0px 0px 5px 0px;
    padding: 0.5em;
}

#update-available a {
    text-decoration: none;
}

#update-available a:hover {
    cursor: pointer;
}

a.update {
    color: aqua;
}

span.close {
    float: right;
    margin-right: 2em;
}

#chart {
    margin-top: 15px;
    position: relative;
}

#chart svg {
    width: 90%;
}

@media screen and (max-width: 700px) {
    div.controls {
        grid-template-columns: repeat(6, max-content);
    }
}

@media screen and (max-width: 500px) {
    div.controls {
        grid-template-columns: repeat(4, max-content);
    }
}

@media screen and (min-aspect-ratio: 16/11) {
    body {
        text-align: start;
    }

    form {
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }

    div.controls {
        display: block;
        grid-template-columns: none;
    }

    label, input {
        display: block;
    }

    input {
        margin-bottom: 1em !important;
    }

    #chart {
        display: inline-block;
        width: 75%;
        text-align: center;
    }

    #chart svg {
        width: auto;
    }
}

.chart .direct {
    fill: #d5e0fe;
    stroke: #aaa;
    opacity: 50%;
}

.chart .teardrop {
    fill: #656371;
    stroke: #aaa;
    opacity: 50%;
}

.chart .parallel {
    fill: #ff7369;
    stroke: #aaa;
    opacity: 50%;
}

.segment-label {
    fill: var(--text-color);
    font-size: 1.2em;
}

.racetrack-arrow {
    fill: #f00;
}

#racetrack-group path {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 2;
}

#entry-group text {
    fill: var(--text-color);
}

.entry-arrow {
    fill: var(--entry-path-color);
}

.timer-button {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0px;
    right: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url('timer.svg');
}

#timer {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    z-index: 1000;
    text-align: center;
}

#timer .lcd {
    background: #666666;
    padding: 0.5em;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 5px;
}

#timer button {
    font-size: 2em;
    margin-top: 5px;
    opacity: 1.0;
}

#entry-group path,line {
    stroke: var(--entry-path-color);
    stroke-width: 1;    
    stroke-dasharray: 3 3;
}